/LAB*/_053502_GERCHIK_LAB*_/.idea/
/LAB*/_053502_GERCHIK_LAB*_/_053502_GERCHIK_LAB*_/obj/
/LAB*/_053502_GERCHIK_LAB*_/_053502_GERCHIK_LAB*_/bin/
/LAB9/_053502_GERCHIK_LAB9_/Serializer/obj/
/LAB9/_053502_GERCHIK_LAB9_/Serializer/bin/
/LAB9/_053502_GERCHIK_LAB9_/Domain/bin/
/LAB9/_053502_GERCHIK_LAB9_/Domain/obj/
/LAB10/_053502_GERCHIK_LAB10_/ClassLibrary/bin/
/LAB10/_053502_GERCHIK_LAB10_/ClassLibrary/obj/
